//
// Vars/Config
//

// Style attributes
$border = 1px solid #EEEEEE
$font-size = 13px
$bg-color = #FFFFFF
$active-bg-color = #EEEEEE
$focus-outline-color = #3B99FC

// Dimensions
$input-width = 100px
$input-height = $font-size
$option-container-offset = 7px

//
// Component styles
//
  
.lw-react-dropdown-container
  width $input-width
  height $input-height
  position relative

.lw-react-dropdown-optionsContainer
  cursor pointer
  position absolute
  width $input-width
  border $border
  &.lw-react-dropdown-bottom
    top $input-height + $option-container-offset
  &.lw-react-dropdown-top
    bottom $input-height + $option-container-offset

.lw-react-dropdown-input, .lw-react-dropdown-optionsContainer
  border $border

.lw-react-dropdown-option
  &:active, &:hover
    background-color $active-bg-color

.lw-react-dropdown-input, .lw-react-dropdown-option
  width 100%
  height 100%
  border-width 1px
  background-color $bg-color
  &:focus
    outline-color  $focus-outline-color
  
